body {
  margin: 0;
  font-family:sans-serif; 
  margin:3rem;
  height: 100%;
  background-color: #706174;
  /* Center and scale the image nicely */
  background-size: cover;
}
input{
    height: 20px;
    line-height: 20px;
    width: 200px;
    vertical-align: middle;
    margin-left: 40%;
    padding: 5px 10px 5px 10px ;

}

button{
  font: inherit;
  color:white;
  background-image: linear-gradient(144deg,#f7ecf6, #bda7c0 50%,#8b9381);
  border: solid 0.5px rgb(165, 165, 165);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 2.5rem;
  margin: 0 1rem;
 
}

h3,h4{
 color:#ffffff; ;
}